<p>
  This training  will introduce you to foundations of Python programming. We will utilise common 
 geoscience data types (geospatial, temporal, vector, raster, etc) to demonstrate a variety of 
 practical workflows and showcase fundamental capabilities of Python. 
 We will carry out exploratory, analytical, computational and machine learning analyses
 on these datasets. At the end of the course you will be able to adapt these workflows to
 your own datasets.

This workshop, a collaborative initiative between the Geological Survey of Ethiopia and School of Earth Sciences,  Addis Ababa
 University (AAU), focuses on applying python and Matlab/ocatve programming for geological data analysis and visualization. Our goal is to
 enhance the precision and efficiency of these predictions, ultimately contributing to safer
 communities and more resilient infrastructure.

In addition, we’ll conduct a practical workshop to equip researchers with essential computing
 skills for maximizing research productivity. Topics will include data management, cleaning,
 analysis, and scientific report writing. Participants will be encouraged to collaborate and 
 directly apply these skills to their own research challenges.

Together, we’ll bridge theory and practice to empower your work in materials science and beyond.

</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
